.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
  transition-duration: 1s;
}
.footer__link:hover {
  opacity: 0.8;
  transition-property: opacity;
  transition-duration: 0.5s;
}
.footer__link:not(:last-child) {
  padding: 0 18px 0 0;
}

@media screen and (max-width: 560px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }

  .footer__link:not(:last-child) {
    padding: 0px 0px 32px 0px;
  }
}