.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding: 0;
}
.place__paragraph:not(:last-child) {
  padding: 0px 0px 26px 0px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph:not(:last-child) {
    padding: 0px 0px 27px 0px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
  
  .place__paragraph:not(:last-child) {
    padding: 0px 0px 25px 0px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
  }
}

