.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0 0 32px 0;
  max-width: 560px;
  z-index: 1;
}

@media screen and (max-width: 560px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    padding: 0px 0px 16px 0px;
  }
}